/* Ryan Taylor
  May 4, 2023 */

	/*****************Mobile***************/
	img {
		display: none;
	}

	nav {
		display: block;
	}

	h2 {
		display: none;
	}

	/**************Tablet******************/
@media screen and (min-width: 641px) {

	img {
		display: block;
		max-width: 100%;
	}

	nav ul li{
		display: inline;
	}

	h2 {
		display: block;
	}
}
body 
{ 
	background-color: #FFFFFF;
  color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}
header 
{ 
	background-color: #000033;
  color: #FFFFFF; 
	background-image: url(../images/sunset.jpg);
	background-position: right;
	background-repeat: no-repeat; 
	line-height: 400%;
	text-indent: 1em;
}

nav
{ 
	background-color: #90C7E3;
  font-weight: bold;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav a 
{ 
	text-decoration: none; 
}

h1 
{ 
	margin-bottom: 0; 
  font-family: Georgia, 'Times New Roman', serif; 
}
	
h2 
{ 
	color: #3399CC; 
  font-family: Georgia, 'Times New Roman', serif; 
}
	 
h3 
{ 
	color: #000033;
  font-family: Georgia, 'Times New Roman', serif; 
}

main ul 
{ 
	list-style-image: url(../images/marker.gif); 
} 

footer 
{ 
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(144, 199, 227, 1));
	font-size: 75%;
  font-weight: bold;
	text-align: center;
	font-family: Georgia, 'Times New Roman', serif;
	font-style: italic;
}
	   
dt 
{ 
	color: #000033; 
}

.resort 
{ 
	color: #5C7FA3; 
  font-weight: bold;
}

#contact
{ 
	font-size: 90%; 
}