input:focus {
  font-size: 1.35rem;
  padding: 10px;
  border: 4px solid rgba(4, 14, 157, 0.999);
  outline: none;
}

select:focus {
  font-size: 1rem;
  padding: 10px;
  border: 4px solid rgba(4, 14, 157, 0.999);
  outline: none;
}