/* Ryan Taylor April 20, 2023*/

table {
  width: 75%;
  background-image: linear-gradient(#8b7a9a, #FFFFFF);
  border-collapse: collapse;
  border-width: 2px;
  border-color: #07d2f6; 
  border-style: solid;
  color: rgba(4, 14, 157, 0.999);
  margin-bottom: 20px;
  margin: auto;
}

table td, th {
  border-width: 2px;
  border-color: #07d2f6;
  border-style: solid;
  padding: 15px;
}

table thead {
  background-color: rgb(74, 74, 85);
}

th {
  color: #40e0d0;
}
