
/*Ryan Taylor April 20, 2023 */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@font-face {
	font-family: 'robotoregular';
	src: url(../fonts/roboto-regular-webfont.woff);
	src: url(../fonts/roboto-regular-webfont.woff2);
	font-weight: normal;
	font-style: normal;
}

#outerwrapper {	
  border-radius: 15%;
	background: rgba(243,205,170, 0.4);
	max-width: 70%;
	margin: auto;
}

html {
	background-image: url(../images/jewelry.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

main {
	background: linear-gradient(#FFFFFF, #F0F9E6);
	padding: 10px;
	margin: 20px;
  border-radius: 2em;
	font-size: 1.25em;
	font-family: Arial, 'Times New Roman', sans-serif;
}

footer {
	font-size: 1em;
	text-align: center;
	padding-bottom: 10px;
}

img {
	float: left;
	border-radius: 50%;
}

.addrightmargin {
	margin-right: 10%;
}

nav ul {
	list-style-type: none;
	font-size: 1.5em;
	clear: left;
}

h1 {
	font-family: 'Pacifico', Georgia, serif;
	font-size: 4em;
}

h2  {
	font-family: 'robotoregular', cursive, serif;
	font-style: italic;
	font-size: 2em;
}

