body {
  background: #004d37;
  color: white;
}

.nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#E3E5D8;
}

li {
  float: left;
}

li a {
  display: block;
  color: #004d37;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 2em;
}

li a:hover {
   color: darkorange;
}

main{
   border: 5px solid darkorange;
   padding: 10px 50px;
   text-align: center;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: linear-gradient(#004d37, rgb(79, 142, 104));
}

form{
    display: flex;
    flex-direction: column;
}

div{
  padding-top: 20px;
}

span {
  color: darkorange;
  font-size: 20px;
}

label {
  font-size: 25px;
}

footer {
  text-align: center;
  background: #E3E5D8;
  padding-top: 1px;
}

#email_form{
  display: flex;
  justify-content: center;
  align-items: center;
}

#newsletter_form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 10px;
  font-size: 25px;
  color: darkorange;
  background: linear-gradient(#004d37, rgb(79, 142, 104));
}

.confirmation {
  font-size: 22px;
}

.link {
  color: darkorange;
  font-size: 20px;
}

.footer {
  color: #004d37;
}