body {
  background: #004d37;
  color: white;
}

.nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#E3E5D8;
}

li {
  float: left;
}

li a {
  display: block;
  color: #004d37;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 2em;
}

li a:hover {
   color: darkorange;
}

main {  
     font-size: 87.5%;
     width: 550px;
     max-width: 60%;
     border: 5px solid darkorange;
     padding: 10px 50px;
     padding-bottom: 50px;
     border-radius: 50px;
     margin: auto;
     margin-top: 5em;
     background: linear-gradient(#004d37, rgb(79, 142, 104));
  }


h1 { 
  font-size: 300%;
  text-align: center;
}

a {
  color: darkorange;
  text-decoration: none; 
}

a:focus, a:hover { 
color: rgb(255, 255, 255); 
}

.footer {
  padding-top: 5px;
  background-color: #E3E5D8;
  color: #004d37;
  text-align: center;
  font-size: large;
}

@media screen and (max-width: 600px) {
  .nav ul {
   display: grid;
   justify-content: center;
   font-size: 11px;
  }
}
