body {
  background: #004d37;
  color: white;
}

.nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#E3E5D8;
}

li {
  float: left;
}

li a {
  display: block;
  color: #004d37;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 2em;
}

li a:hover {
   color: darkorange;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
}

main {
  padding-bottom: 50px;
}

footer {
  text-align: center;
  background: #E3E5D8;
  padding-top: 1px;
}

#demo {
  font-size: 30px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.footer {
  color: #004d37;
}


